<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head.ejs') %>

  <body>
    <div class="container">
      <div class="row-content">
        <div class="content">
          <div class="form fadeIn">
            <div class="logo-form fadeInAtas">
              <img src="/logo/72.png" alt="Logo" />
            </div>
            <h2>
              <%= navTitle %> ke <%= appTitle %>
            </h2>
            <div class="register-link fadeInKanan">
              <p>
                <a href="/daftar">
                  <strong>Daftar</strong>
                </a>
                |
                <a href="/">
                  <strong>Beranda</strong>
                </a>
              </p>
            </div>
            <form action="">
              <div class="grup-input fadeIn">
                <span>
                  <i class="fas fa-envelope"></i>
                </span>
                <input type="text" name="email" id="email" placeholder="Email" required />
              </div>
              <div class="email error"></div>

              <div class="grup-input fadeIn">
                <span>
                  <i class="fas fa-key"></i>
                </span>
                <input type="password" name="password" id="password" placeholder="Password" required />
              </div>
              <div class="password error"></div>

              <button class="tombol tmb-utama bunder fadeInBawah">
                Masuk
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>

    <%- include('../partials/footer-script.ejs') %>
  </body>

</html>